body {
  background-color: gray;
}

#codeheader {
  font-weight: bold;
  text-align: center;
  border: 2px solid #00eeff;
  color: #00eeff;
  background: black;
  padding: 1px;
  font-size: 20px;
}

#headerborder {
  border: 3px solid black;
  margin-bottom: 2px;
  font-family: 'Determination Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
}

#facecontainer {
  float: left;
  padding-left: 2px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#backtomenu {
  float: left;
  font-size: 18px;
  border: 1px solid;
  width: 120px;
  height: 35px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

#clickybuttons {
  text-align: right;
  vertical-align: bottom;
  padding: 5px;
  font-size: 20px;
}

#editor {
  height: 676px;
  width: 400px;
  float: left;
  margin-bottom: 2px;
}

#editor2 {
  height: 728px;
  width: 400px;
  float: left;
}

#divider {
  width: 10px;
  max-width: 10px;
  height: 400px;
  float: left;
}

#gameboard {
  float: left;
}

#talkhead {
  float:left;
  width: 90px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  padding-right: 10px;
}

#doubleborder {
  float: left;
  border: 3px solid #000000;
  width: 494px;
  height: 122px;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 4px;
}

#menuborder {
  float: left;
  border: 3px solid #000000;
  width: 494px;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 4px;
}

#menubox {
  border: 2px solid #00eeff;
  background-color: #000000;
  width: 494px;
  height: 85px;
  color: #00eeff;
  font-family: 'Determination Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
}

#clickytable {
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

#clickycanvas {
  border: 0px;
  padding: 0px;
  width: 250px;
  margin: 0px;
}

#textbox {
  border: 2px solid #00eeff;
  background-color: #000000;
  width: 494px;
  height: 96px;
  color: #00eeff;
  padding: 6px;
  font-family: 'Determination Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 24px;
  line-height: 28px;
}

#textdiv {
  padding-top: 8px;
  width: 470px;
  vertical-align:top;
}

input[type=button] {
  width: 400px;
  height: 50px;
  font-size: 36px;
  color: #00eeff;
  border-color: #00eeff;
  background-color: black;
  font-family: 'Determination Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
}

input[type=button]:disabled {
  color: gray;
  border-color: gray;
}
